<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
            <charset>UTF-8</charset>
		</encoder>
		<immediateFlush>false</immediateFlush>
	</appender>

	<!-- uncomment and set to DEBUG to log all failing HTTP requests -->
	<!-- uncomment and set to TRACE to log all HTTP requests -->
	<!--<logger name="io.gatling.http.engine.response" level="TRACE" />-->

<!--    &lt;!&ndash; Логи Gatling &ndash;&gt;-->
<!--    <logger name="io.gatling" level="DEBUG"/>-->
<!--    &lt;!&ndash; Логи Graphite writer &ndash;&gt;-->
<!--    <logger name="io.gatling.core.stats.writer.GraphiteDataWriter" level="DEBUG"/>-->

	<root level="WARN">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
